input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1); /* Invert the color of the icon to white */
  }


  /* Custom CSS */
/* Custom CSS */


option {
  background-color: #333 !important; /* Change this to your desired color */
}

option:hover {
  background-color: #8338ec !important; /* Change this to your desired color on hover */
}

option:checked {
  background-color: #8338ec !important; /* Change this to your desired color when selected */
}
